@page "/class-progression/{ClassName}/{ArchetypeName?}"
@page "/wrath-wiki/class-progression/{ClassName}/{ArchetypeName?}"
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Class</PageTitle>

<h1>Class Preview</h1>

@if (model == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="chargen-sheet">
		<div class="content">
			<table class="progression-table">
				<tr>
					@for (var i = 1; i < 21; i++)
					{
						<th><div class="level-header">@i</div></th>
					}
				</tr>
				<tr>
					<td colspan="20"><div class="banner"><span>Feats</span></div></td>
				</tr>
				<tr>
					<td colspan="20"><div class="banner"><span>@(model.name)</span></div></td>
				</tr>
				@foreach (var row in Rows)
				{
					<tr>
						@foreach (var (f, rank, last, addRemove) in row)
						{
							@if (f == -1)
							{
								<td class="chupa-slot @(last ? "last-level" : "")"></td>
							}
							else if (model.features[f].icon != null)
							{
								<td class="chupa-slot @(last ? "last-level" : "")">
									<div class="feature">
										<img class="progression-feature" src="icons/@(model.features[f].icon).png">
										@*<img class="selection-badge" src="/icons-custom/selection.png">*@
										@if (rank != -1)
										{
											<div class="rank-badge">@(rank)</div>
										}
										@if (addRemove == -1)
										{
											<div class="feature-removed"></div>
										}
										@if (addRemove == 1)
										{
											<div class="feature-added"></div>
										}
									</div>
								</td>
							}
							else
							{
								<td class="chupa-slot @(last ? "last-level" : "")">@model.RenderFeature(f, rank)</td>
							}
						}
					</tr>
				}
			</table>
		</div>
	</div>
}

@code {
	private Progression? model;

	[Parameter]
	public string? ClassName { get; set; }

	[Parameter]
	public string? ArchetypeName { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		model = await Http.GetFromJsonAsync<Progression>($"wrath-data/class.{ClassName}Class.json", new JsonSerializerOptions()
			{
				IncludeFields = true,
			});
	}

	public class LocalFeature
	{
		public string? name;
		public string? desc;
		public string? icon;
	}
	public class RowEntry
	{
		public int level;
		public int feature;
		public int rank;
		public int archType;
	}

	public class Archetype
	{
		public string id = "";
		public string name = "";
		public List<List<RowEntry>> layout = new();
	}

	public IEnumerable<IEnumerable<(int, int, bool, int)>> Rows
	{
		get {
			if (ArchetypeName == null)
				return model!.Rows(model!.layout);
			else
				return model!.Rows(model!.archetypes.First(a => a.name.Equals(ArchetypeName, StringComparison.OrdinalIgnoreCase))!.layout);
		}
	}

	public class Progression
	{
		public List<Archetype> archetypes = new();
		public List<LocalFeature> features = new();
		public List<List<RowEntry>> layout = new();
		public string? name;

		public IEnumerable<IEnumerable<(int, int, bool, int)>> Rows(List<List<RowEntry>> layout) => layout.OrderByDescending(r => r.Count).Where(r => r.Count > 0).Select(ExpandRow);

		private static IEnumerable<(int, int, bool, int)> ExpandRow(List<RowEntry> row)
		{

			var next = row.GetEnumerator();
			bool n = next.MoveNext();
			for (int i = 1; i <= 20; i++)
			{
				if (n && next.Current.level == i)
				{
					yield return (next.Current.feature, next.Current.rank, i == 20, next.Current.archType);
					n = next.MoveNext();
				}
				else
				{
					yield return (-1, -1, i == 20, 0);
				}
			}
		}

		public string RenderFeature(int f, int rank)
		{
			if (features[f] == null)
			{
				return "<error>";
			}

			string name = features[f]?.name ?? "<error>";
			if (rank != -1)
			{
				return $"{name}[{rank}]";
			}
			else
			{
				return name;
			}
		}
	}
}
